.box {
  height: 500px;
  width: 700px;
  border: solid;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0);
}

.lower {
  display: flex;
  flex-direction: row;
}

img {
  width: 30px;
  height: 30px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}