p {
  font-family: Montserrat;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.text1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.words {
  text-decoration: underline;
}