input {
  border-width: 1px;
  border-radius: 5px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: arial;
}
.Email {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 355px;
}

button {
  background-color: rgb(87, 90, 243);
  color: white;
  font-weight: bold;
  width: 370px;
  border: none;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 25px;
}